<div class="game w-100 h-100">
  <!--Stage One-->
  @if(stages[selectedStage] == 1){
    <app-stage-one (stage)="changeStage($event)" [duration]="stagesDuration[selectedStage]"></app-stage-one>
  }
  @if(stages[selectedStage] == 2){
    <app-stage-two (stage)="changeStage($event)" [duration]="stagesDuration[selectedStage]"></app-stage-two>
  }
  @if(stages[selectedStage] == 3){
    <app-stage-three (stage)="changeStage($event)" [duration]="stagesDuration[selectedStage]"></app-stage-three>
  }


  <app-game-popup (clickEvent)="nextStage()"></app-game-popup>
</div>
