/* loading.component.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .loader {
    width: 270px;
    margin: 0 auto;
    height: 20px;
    border-radius: 15px;
    color: #fff;
    border: 2px solid;
    position: relative;
    background-color: #fff;
    .bar{
      width: 0;
      height: 100%;
      border-radius: 15px;
      background-image:url(/assets/images/ground-green.png);
    }
  }



}
