<!--<h1 class="text-center text-danger d-block">Login</h1>-->
<div class="auth" style="background-image: url(/assets/images/ground-green.png)">
  <div class="vh-100 d-flex justify-content-center align-items-center flex-column animate__animated animate__bounceInDown">
    <div class="mb-3" style="width: 230px;">
      <img [src]="'/assets/logo/logo.png'" class="img-fluid object-fit-contain" alt="logo">
    </div>
    <div class="h4">
      V1.00
    </div>
    <div class="h5">
      Successfully Authenticated
    </div>
  </div>
</div>
