<div class="modal fade" id="stageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-body border-0">
        <div class="mb-3 d-flex justify-content-center">
          <div class="repo-icon">
            <img [ngClass]="icon" alt="">
          </div>
        </div>
        <div class="d-flex justify-content-center text-center">
          <div class="col-12 col-md-6">
            <div class="h4 text-success fw-bold">{{title}}</div>
            <div class="lead text-secondary fw-semibold">
              {{subTitle}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0 d-flex justify-content-center">
        <div class="col-5">
          <button type="button" class="btn btn-theme w-100" (click)="nextStage()">
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
