.game{
  height: calc(100vh - 80px);
  .game-stage{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    .stage-parse {
      max-width: 45%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 991px) {
        max-width: 55%;
      }
      @media screen and (max-width: 768px) {
        max-width: 65%;
      }
      @media screen and (max-width: 576px) {
        max-width: 85%;
      }
      @media screen and (max-width: 375px) {
        width: 100%;
      }
      .box {
        width: 33.33%;
        min-height: 106.97px;
        border: 1px solid var(--bs-white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        color: var(--bs-white);

        @media screen and (min-width: 1024px) {
          height: 168px;
        }
        @media screen and (max-width: 991px) {
          height: 106.97px;
        }
        @media screen and (max-width: 301px) {
          min-height: 84.98px;
        }

      }
      img{
        width: 33.33%;
        height: auto;
        object-fit: contain;
        border: 1px solid white;
      }
    }
  }
}
