.game{
  height: calc(100vh - 80px);
  .game-stage{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    .stage-parse {
      max-width: 45%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 991px) {
        max-width: 55%;
      }
      @media screen and (max-width: 768px) {
        max-width: 65%;
      }
      @media screen and (max-width: 576px) {
        max-width: 85%;
      }
      @media screen and (max-width: 375px) {
        width: 100%;
      }
      .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        .box {
          text-decoration: none;
          width: 140px;
          height: 140px;
          box-sizing: border-box;
          border: 1px solid transparent;
          background-color: rgba(255, 255, 255, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          color: var(--bs-white);
          font-size: 16px;

          @media screen and (max-width: 991px) {
            width: 150px;
            height: 150px;
          }
          @media screen and (max-width: 768px) {
            width: 105px;
            height: 105px;
          }
          @media screen and (max-width: 576px) {
            width: 85px;
            height: 85px;
          }
        }
      }
      img{
        width: 20%;
        height: auto;
        object-fit: contain;
        border: 1px solid white;
      }
    }
  }
}
