<section class="home d-flex justify-content-between align-items-center flex-column">
  <div class="animate__animated animate__bounceInDown d-flex justify-content-center align-items-center flex-column h-100">
    <div class="text-center h2 fw-bolder">
      Hello
      @if(userInfo != null){
        {{userInfo.username}}
      }
    </div>
    <div class="h6 text-center fw-semibold">
      Welcome to safe the city
    </div>
    <div class="h6 text-center fw-semibold">
      Click on the button below to start the game
    </div>
  </div>

  <a  [routerLink]="'/portal/game'" class="btn btn-theme border-0 px-5 py-3">
    Start Game
  </a>
</section>
