<section class="w-100 home" style="background-image: url(/assets/images/ground-green.png)">
  <div class="container-fluid">
    <div class="vh-100 w-100 d-flex justify-content-between align-items-center flex-column py-5">
      <div>
        <div class="mb-4 header">
          <img [src]="'/assets/logo/logo.png'" class="img-fluid object-fit-contain" alt="logo">
        </div>
      </div>
      <div>
        <div>
          <div class="text-center h2 fw-bolder">
            Hello Ridwanul
          </div>
          <div class="h5 text-center fw-semibold">
            Today is a Good Day to plant some good weed!
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-theme border-0 px-5 py-3">
        Planting my first seed
      </button>
    </div>
  </div>
</section>
